.hea {
  background-color: #4338ca;
  text-align: center;
  color: white;
  padding: 10px 60px;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.282);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #6366f1;
}

h4 {
  display: flex;
  margin: 5px;
  font-size: 28px;
  letter-spacing: 0.02em;
  justify-content: center;
}

.img-class {
  position: absolute;
  left: 20px;
  display: flex;
  width: 50px;
  height: 50px;
}

.hea div img {
  cursor: pointer;
}

@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }

  .img-class {
    width: 36px;
    height: 36px;
  }

  .hea {
    padding: 10px 50px;
  }
}
